#scrollButton {
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  margin-bottom: 16px;
}

.arrow-icon {
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
  }